<%= render :partial => 'shared/layout_head' %>

<body>
  <div id="wrapper">
    <div id="header">
      <a href="/"><div id="logo"></div></a>

      <span id="goals">Connect. Collaborate. Improve.</span>
    </div>

    <div id="menu"><%= frontend_navigation_content %></div>

    <div id="main" class="selfclear">
      <%= '<div id="flash"><div class="message notice"><p>'+ flash[:notice] +'</p></div></div>' unless flash[:notice].blank? %>
      <%= '<div id="flash"><div class="message error"><p>'+ flash[:error] +'</p></div></div>' unless flash[:error].blank? %>
      <%= '<script>jQuery("#flash").hide().toggle("fade", {}, 2500).delay(4000).toggle("slide", { direction: "down" }, 1500);</script>' unless flash[:notice].blank? and flash[:error].blank? %>

      <div id="content" class="<%= yield(:tag_menu) ? 'double' : 'single' %>">
        <%= yield %>
      </div>
      <%= yield :tag_menu %>
    </div>

    <%= render :partial => 'shared/footer' %>
  </div>
</body>
</html>