<%= render :partial => 'shared/layout_head', :locals => { :clocks => true } %>

<body>
  <div class="wrapper">
    <div id="header">
      <span class="options">
        <% if logged_in? %>
          <% if @current_user.small_name %>
            <%= link_to @current_user.small_name, user_account_path %> |
          <% else %>
            <%= link_to @current_user.email, user_account_path %> |
          <% end %>
          <% if permitted_to? :read, :admin_dashboard %>
            <%= link_to t('navigation.administration'), admin_root_path %> |
          <% end %>
          <%= link_to t('user_session.bar.logout'), user_logout_path %>
        <% else %>
          <%= link_to t("user_session.bar.signin"), new_user_session_path %> |
          <%= link_to t("user_session.bar.signup"), new_user_account_path %>
        <% end %>
      </span>

      <a href="/"><div id="logo"></div></a>
    </div>

    <div id="content" class="selfclear wrapper">
      <%= '<div id="flash"><div class="message notice"><p>'+ flash[:notice] +'</p></div></div>' unless flash[:notice].blank? %>
      <%= '<div id="flash"><div class="message error"><p>'+ flash[:error] +'</p></div></div>' unless flash[:error].blank? %>
      <%= '<script>jQuery("#flash").hide().toggle("fade", {}, 2500).delay(4000).toggle("slide", { direction: "down" }, 1500);</script>' unless flash[:notice].blank? and flash[:error].blank? %>

      <div id="left-sidebar">
        <div id="menu"><%= frontend_navigation_content %></div>
      </div>

      <div id="main">








        <% GlobalCategory.all.each do |global_category| %>
          <div id="global-category-<%= global_category.slug %>" class="global-category">
            <h2 class="title"><%= global_category.name %></h2>
            <% @posts = Post.find_all_by_global_category_id(global_category.id, :order => 'published_at DESC').first(5) %>
            <% if @posts.empty? -%>
              <p><%= t('posts.none') %></p>
            <% else -%>
              <div id="post-<%= @posts.first.id %>" class="first post">
                <%= link_to(image_tag(@posts.first.image.url(:image)), post_path(@posts.first), :class => 'post-image') if @posts.first.image? %>

                <h3 class="title"><%= link_to(@posts.first.title, post_path(@posts.first)) %></h3>

                <%= link_to(@posts.first.approved_comments_count.to_s, post_path(@posts.first, :anchor => 'comment-list'), :class => 'post-comments') %>

                <p><%= truncate(@posts.first.body, 12, '...') %></p>
              </div>

              <ul>
                <% @posts[1..4].each do |post| %>
                  <li>
                    <div id="post-<%= post.id %>" class="post">
                      <h3 class="title"><%= link_to(post.title, post_path(post)) %></h3><%= link_to(post.approved_comments_count.to_s, post_path(post, :anchor => 'comment-list'), :class => 'post-comments') %>
                    </div>
                  </li>
                <% end -%>
              </ul>

              <span id="posts-archive"><%= link_to(t('posts.archive'), "/#{global_category.slug}/posts") %></span>
            <% end -%>
          </div>
        <% end %>






      </div>

      <div id="right-sidebar">
        <%= clocks_widget %>

        <%= render :partial => 'widgets/weather_info', :locals => { :left_location_code => '742676', :right_location_code => '615702' } %>

        <%= render :partial => 'shared/event_calendar', :locals => { :year => Time.now.year, :month => Time.now.month } %>

        <div id="maps">
          <h2 class="title">Mapas</h2>
          <a href="/pages/portugal"><div id="map-pt"></div></a>
          <a href="/pages/frança"><div id="map-fr"></div></a>
        </div>
      </div>
    </div>

    <%= render :partial => 'shared/footer' %>
  </div>
</body>
</html>
