<%= render :partial => 'shared/layout_head' %>

<body>
  <div class="wrapper">
    <div id="header">
      <a id="logo" href="/">50º Aniversário</a>

      <a id="site-title" href="/">Dia do Estudante</a>

      <p id="light-blue-bar"><span class="left">50º Aniversário</span><span class="right">23 e 24 de Março</span></p>

      <div id="navigation"><%= frontend_navigation_content %></div>

      <div id="options">
        <% if logged_in? %>
          <% if permitted_to? :read, :admin_dashboard %>
            <%= link_to t('navigation.administration'), admin_root_path, :class => 'admin-icon' %>
          <% end %>
          <%= link_to t('user_session.bar.logout'), user_logout_path, :class => 'logout-icon' %>
        <% else %>
          <%= link_to t("user_session.bar.signin"), new_user_session_path, :class => 'login-icon' %>
        <% end %>
      </div>
    </div>

    <div id="content" class="selfclear">
      <%= '<div id="flash"><div class="message notice"><p>'+ flash[:notice] +'</p></div></div>' unless flash[:notice].blank? %>
      <%= '<div id="flash"><div class="message error"><p>'+ flash[:error] +'</p></div></div>' unless flash[:error].blank? %>
      <%= '<script>jQuery("#flash").hide().toggle("fade", {}, 2500).delay(4000).toggle("slide", { direction: "down" }, 1500);</script>' unless flash[:notice].blank? and flash[:error].blank? %>

      <div id="main">
        <%= yield %>
      </div>

      <div id="right-sidebar">
        <div id="organization">
          <h2 class="title"><%= t('organization.title') %></h2>

          <div id="organization-logos">
            <a href="http://www.fap.pt/"><div id="fap-logo" class="organization-logo"></div></a>
            <a href="http://aautad.utad.pt"><div id="aautad-logo" class="organization-logo"></div></a>
            <a href="http://aaum.pt"><div id="aaum-logo" class="organization-logo"></div></a>
            <a href="http://aauav.pt"><div id="aauav-logo" class="organization-logo"></div></a>
            <a href="http://fnaeesp.blogspot.pt/"><div id="fnaeesp-logo" class="organization-logo"></div></a>
            <a href="http://www.fnespc.org/"><div id="fnespc-logo" class="organization-logo"></div></a>
            <a href="http://aac.pt"><div id="aac-logo" class="organization-logo"></div></a>
            <a href="http://www.uevora.pt/"><div id="uevora-logo" class="organization-logo"></div></a>
            <a href="http://ae.fct.unl.pt/"><div id="aefct-logo" class="organization-logo"></div></a>
          </div>
        </div>

        <div id="web-development">
          <h2 class="title">Desenvolvimento Web</h2>

          <a href="http://www.groupbuddies.com">Group Buddies</a>
        </div>
      </div>
    </div>

    <%= render :partial => 'shared/footer' %>
  </div>
</body>
</html>
